<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<!-- 北米リージョン -->
	<dict>
		<key>shortcut</key>
		<string>ばーじにあ</string>
		<key>phrase</key>
		<string>us-east-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>おはいお</string>
		<key>phrase</key>
		<string>us-east-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>きたかりふぉるにあ</string>
		<key>phrase</key>
		<string>us-west-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>おれごん</string>
		<key>phrase</key>
		<string>us-west-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>かなだちゅうぶ</string>
		<key>phrase</key>
		<string>ca-central-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>かるがりー</string>
		<key>phrase</key>
		<string>ca-west-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>めきしこ</string>
		<key>phrase</key>
		<string>mx-central-1</string>
	</dict>
	<!-- 南米リージョン -->
	<dict>
		<key>shortcut</key>
		<string>さんぱうろ</string>
		<key>phrase</key>
		<string>sa-east-1</string>
	</dict>
	<!-- ヨーロッパリージョン -->
	<dict>
		<key>shortcut</key>
		<string>あいるらんど</string>
		<key>phrase</key>
		<string>eu-west-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ろんどん</string>
		<key>phrase</key>
		<string>eu-west-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぱり</string>
		<key>phrase</key>
		<string>eu-west-3</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ふらんくふると</string>
		<key>phrase</key>
		<string>eu-central-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>すとっくほるむ</string>
		<key>phrase</key>
		<string>eu-north-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>みらの</string>
		<key>phrase</key>
		<string>eu-south-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>すぺいん</string>
		<key>phrase</key>
		<string>eu-south-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ちゅーりっひ</string>
		<key>phrase</key>
		<string>eu-central-2</string>
	</dict>
	<!-- アジアパシフィックリージョン -->
	<dict>
		<key>shortcut</key>
		<string>とうきょう</string>
		<key>phrase</key>
		<string>ap-northeast-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>そうる</string>
		<key>phrase</key>
		<string>ap-northeast-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>おおさか</string>
		<key>phrase</key>
		<string>ap-northeast-3</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>むんばい</string>
		<key>phrase</key>
		<string>ap-south-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>はいでらばーど</string>
		<key>phrase</key>
		<string>ap-south-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しんがぽーる</string>
		<key>phrase</key>
		<string>ap-southeast-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しどにー</string>
		<key>phrase</key>
		<string>ap-southeast-2</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>じゃかるた</string>
		<key>phrase</key>
		<string>ap-southeast-3</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>めるぼるん</string>
		<key>phrase</key>
		<string>ap-southeast-4</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>まれーしあ</string>
		<key>phrase</key>
		<string>ap-southeast-5</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>にゅーじーらんど</string>
		<key>phrase</key>
		<string>ap-southeast-6</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>たい</string>
		<key>phrase</key>
		<string>ap-southeast-7</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ほんこん</string>
		<key>phrase</key>
		<string>ap-east-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>たいぺい</string>
		<key>phrase</key>
		<string>ap-east-2</string>
	</dict>
	<!-- 中東・アフリカリージョン -->
	<dict>
		<key>shortcut</key>
		<string>ばーれーん</string>
		<key>phrase</key>
		<string>me-south-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ゆーえーいー</string>
		<key>phrase</key>
		<string>me-central-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>てるあびぶ</string>
		<key>phrase</key>
		<string>il-central-1</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>けーぷたうん</string>
		<key>phrase</key>
		<string>af-south-1</string>
	</dict>
</array>
</plist>
